{{#ifCond page "==" "sign_up"}}
	<form id="profile-form" class="form-horizontal" action="sign_up" method="post">
{{else}}
	<form id="profile-form" class="form-horizontal" action="profile" method="post">
{{/ifCond}}

{{#ifCond page "==" "sign_up"}}
	<h2>Profile</h2>
{{else}}
	<h2>Edit your profile</h2>
{{/ifCond}}

  <div class="form-group">
	<label for="profileInputFirstName" class="col-sm-3 control-label">First name</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" name="firstName" id="profileInputFirstName" placeholder="First name" value="{{user.firstName}}">
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputLastName" class="col-sm-3 control-label">Last name</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" name="lastName" id="profileInputLastName" placeholder="Last name" value="{{user.lastName}}">
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputAge" class="col-sm-3 control-label">Age</label>
	<div class="col-sm-9">
	  <input type="number" class="form-control" name="age" id="profileInputAge" placeholder="Age" value="{{user.age}}">
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputGender" class="col-sm-3 control-label">Gender</label>
	<div class="col-sm-9">
	  <select name="gender" class="form-control" id="profileInputGender" value="{{user.gender}}">
		  <option value="1" {{#ifCond user.gender "==" 1}}selected{{/ifCond}}>Male</option>
		  <option value="2" {{#ifCond user.gender "==" 2}}selected{{/ifCond}}>Female</option>
		</select>
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputCountry" class="col-sm-3 control-label">Country</label>
	<div class="col-sm-9">
	  <select name="country" class="form-control bfh-countries" data-country="{{user.country}}" id="profileInputCountry"></select>
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputCity" class="col-sm-3 control-label">City</label>
	<div class="col-sm-9">
	  <input type="text" class="form-control" name="city" id="profileInputCity" placeholder="City" value="{{user.city}}">
	</div>
  </div>

{{#ifCond page "==" "sign_up"}}
  <div class="form-group">
	<label for="profileInputEmail" class="col-sm-3 control-label">Email</label>
	<div class="col-sm-9">
	  <input type="email" class="form-control" name="email" id="profileInputEmail" placeholder="Email">
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputPass" class="col-sm-3 control-label">Password</label>
	<div class="col-sm-9">
	  <input type="password" class="form-control" name="pass" id="profileInputPass" placeholder="Password">
	</div>
  </div>
{{/ifCond}}

 <h2>Universes</h2>

  <div class="form-group">
	<label for="profileInputSport" class="col-sm-3 control-label">Favorite sport</label>
	<div class="col-sm-9">
	  <select name="sport" class="form-control" id="profileInputSport">
		  <option {{#ifCond user.sport "==" "Football"}}selected{{/ifCond}} value="Football">Football</option>
		  <option {{#ifCond user.sport "==" "Baseball"}}selected{{/ifCond}} value="Baseball">Baseball</option>
		  <option {{#ifCond user.sport "==" "Basketball"}}selected{{/ifCond}} value="Basketball">Basketball</option>
		  <option {{#ifCond user.sport "==" "Hockey"}}selected{{/ifCond}} value="Hockey">Hockey</option>
		  <option {{#ifCond user.sport "==" "Rugby"}}selected{{/ifCond}} value="Rugby">Rugby</option>
		  <option {{#ifCond user.sport "==" "Volleyball"}}selected{{/ifCond}} value="Volleyball">Volleyball</option>
		  <option {{#ifCond user.sport "==" "Chess"}}selected{{/ifCond}} value="Chess">Chess</option>
		  <option {{#ifCond user.sport "==" "Swimming"}}selected{{/ifCond}} value="Swimming">Swimming</option>
		  <option {{#ifCond user.sport "==" "Racing"}}selected{{/ifCond}} value="Racing">Racing</option>
		  <option {{#ifCond user.sport "==" "Other"}}selected{{/ifCond}} value="Other">Other</option>
		</select>
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputStyle" class="col-sm-3 control-label">Clothing style</label>
	<div class="col-sm-9">
	  <select name="style" class="form-control" id="profileInputStyle">
		  <option {{#ifCond user.style "==" "Modern"}}selected{{/ifCond}} value="Modern">Modern</option>
		  <option {{#ifCond user.style "==" "Classic"}}selected{{/ifCond}} value="Classic">Classic</option>
		</select>
	</div>
  </div>

  <div class="form-group">
	<label for="profileInputPet" class="col-sm-3 control-label">Favorite pets</label>
	<div class="col-sm-9">
	  <select name="pet" class="form-control" id="profileInputPet">
		  <option {{#ifCond user.pet "==" "Cat"}}selected{{/ifCond}} value="Cat">Cat</option>
		  <option {{#ifCond user.pet "==" "Dog"}}selected{{/ifCond}} value="Dog">Dog</option>
		  <option {{#ifCond user.pet "==" "Hamster"}}selected{{/ifCond}} value="Hamster">Hamster</option>
		  <option {{#ifCond user.pet "==" "Mouse"}}selected{{/ifCond}} value="Mouse">Mouse</option>
		  <option {{#ifCond user.pet "==" "Parrot"}}selected{{/ifCond}} value="Parrot">Parrot</option>
		  <option {{#ifCond user.pet "==" "Cavy"}}selected{{/ifCond}} value="Cavy">Cavy</option>
		  <option {{#ifCond user.pet "==" "Other"}}selected{{/ifCond}} value="Other">Other</option>
		</select>
	</div>
  </div>

  <div class="form-group">
	<div class="col-sm-offset-4 col-sm-6">
	{{#ifCond page "==" "sign_up"}}
		<button type="submit" class="btn btn-success">Sign up</button>
	{{else}}
		<button type="submit" class="btn btn-success">Save changes</button>
	{{/ifCond}}
	</div>
  </div>

</form>