<div id="toolbar" class="row">
	<div class="col-md-12">
		
		{{#ifContains page "sign_up" "landing" }}
			<a href="/sign_in"><button class="btn btn-primary">Sign In</button></a>
		{{/ifContains}}

		{{#ifContains page "sign_in" "landing" }}
			<a href="/sign_up"><button class="btn btn-success">Sign Up</button></a>
		{{/ifContains}}

		{{#ifContains page "profile"}}
			<a href="/"><button class="btn btn-primary">Main</button></a>
		{{/ifContains}}

		{{#ifContains page "main"}}
			<div class="col-xs-1">
				<a href="#" class="iv-icon" title="Assistant"></a>
			</div>
			<div class="col-xs-1">
				<a href="#" class="hexagon-icon" title="Main graph"></a>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-6" style="text-align: center;">
				<input class=" search-field form-control" placeholder="Search" />
			</div>

			<div class="col-xs-3">
				<a href="#" class="notif-icon" title="Notifications"><span>5</span></a>
				<a class="profile-btn" href="/profile"><button class="btn btn-primary">Edit your profile</button></a>
			</div>
		{{/ifContains}}

	</div>
</div>