<div id="toolbar" class="row">
	<div class="col-md-12">
		
		{{#ifContains page "sign_up" "landing" }}
			<a href="/sign_in"><button class="btn btn-primary">Sign In</button></a>
		{{/ifContains}}

		{{#ifContains page "sign_in" "landing" }}
			<a href="/sign_up"><button class="btn btn-success">Sign Up</button></a>
		{{/ifContains}}

		{{#ifContains page "profile"}}
			<a href="/shopping_profile"><button class="btn btn-primary">Shopping profile</button></a>
			<a href="/"><button class="btn btn-primary">Main</button></a>
		{{/ifContains}}

		{{#ifContains page "shopping_profile"}}
			<a href="/profile"><button class="btn btn-primary">Account profile</button></a>
			<a href="/"><button class="btn btn-primary">Main</button></a>
		{{/ifContains}}

		{{#ifContains page "main"}}
			<div class="col-xs-1">
				<a href="#" class="iv-icon" data-toggle="tooltip" data-placement="bottom" title="Assistant"></a>
			</div>
			<div class="col-xs-1">
				<a href="#" class="hexagon-icon" data-toggle="tooltip" data-placement="bottom" title="Main graph"></a>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-5" style="text-align: center;">
				<div class="input-group search-field">
			            <div class="input-group-btn">
			                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
			                <ul class="dropdown-menu">
			                    <li><a href="#">All</a></li>
			                    <li role="separator" class="divider"></li>
			                    <li><a href="#">Appliances</a></li>
			                    <li><a href="#">Apps & Games</a></li>
			                    <li><a href="#">Arts, Crafts</a></li>
			                    <li><a href="#">Automotive</a></li>
			                    <li><a href="#">Baby</a></li>
			                    <li><a href="#">Beauty</a></li>
			                    <li><a href="#">Books</a></li>
			                    <li><a href="#">Clothing, Shoes & Jewerly</a></li>
			                    <li><a href="#">&nbsp&nbsp&nbspWomen</a></li>
			                    <li><a href="#">&nbsp&nbsp&nbspMen</a></li>
			                    <li><a href="#">&nbsp&nbsp&nbspGirls</a></li>
			                    <li><a href="#">&nbsp&nbsp&nbspBoys</a></li>
			                    <li><a href="#">&nbsp&nbsp&nbspBaby</a></li>
			                </ul>
			            </div>
			            <input id="input" type="text" class="form-control" aria-label="..." placeholder="Search for..." />
				        <span class="input-group-btn">
				            <button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				        </span>
			        </div>

			</div>

			<div class="col-xs-4">
				<a href="#" class="notif-icon" data-toggle="tooltip" data-placement="bottom" title="Notifications"><span>5</span></a>
				<a class="profile-btn" href="/shopping_profile"><button class="btn btn-primary">Edit your shopping profile</button></a>
			</div>
		{{/ifContains}}

	</div>
</div>