<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="olegdev">

  <link href="/js/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/js/vendor/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet">
  <link href="/js/vendor/bootstrap-popover-picker/dist/css/bootstrap-picker.min.css" rel="stylesheet">
  <link href="/js/vendor/vis/dist/vis.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">

  <script type="text/javascript" src="/js/vendor/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap-popover-picker/dist/js/bootstrap-picker.min.js"></script>

  <title>Universes</title>

  </head>

  <body class="{{ page }}">

    <div id="toolbar-wrap">
      <div class="container">
        {{> toolbar }}
      </div>
    </div>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>

<script type="text/javascript">
  $(function() {
    $("[data-toggle='tooltip']").tooltip();
  });
</script>