body.main {
	background-color: #061535;
}
.container {
	min-width: 960px !important;
}

/** 
 * Landing page
 */
#landing-page .logo {
	background: url(../img/big_logo.png) no-repeat;
	width: 400px;
    height: 400px;
    background-position: 50% 50%;
    margin: 90px auto 0;
}
#landing-page h1 {
	text-align: center;
	margin: -30px;
}
/**
 * Sign Up page
 */
#sign-up {
	margin-top: -30px;
}

/**
 * Main page
 */
#figure-container {
	text-align: center;
	height: 500px;
}
#chat-container, #email-container {
	border: 1px solid #ccc;
	height: 200px;
	text-align: center;
	font-size: 18px;
	color: #888;
	/*font-style: italic;*/
	padding: 80px 0 0 0;
	border-radius: 3px 0 0 3px;
	margin: 20px 0 0 0;
	border-width: 1px 0px 1px 1px;
}
#email-container {
	border-radius: 0 3px 3px 0;
	padding: 0 0 0 10px;
	border-width: 0px 1px 0px 0;
}
#email-container > div {
	background-image: url(../img/email_bg.png);
	background-size: cover;
	width: 100%;
	height: 100%;
}
#chat-container {
	background-image: url(../img/chat_bg.png);
	background-size: cover;
}
 #mynetwork {
  	width: 600px;
	/*height: 400px;*/
	position: relative;
	height: 500px;
	margin: 20px auto;
	display: none;
}

/**
 * Toolbar
 */
#toolbar-wrap {
	background-color: #fff;
}
#toolbar {
	text-align: right;
	padding: 20px 0 0 0;
}
#toolbar .iv-icon {
	background-image: url(../img/iv_logo.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin-top: -7px;
}
#toolbar .hexagon-icon {
	background-image: url(../img/hexagon-128.jpg);
	background-repeat: no-repeat;
	width: 44px;
	height: 44px;
	display: block;
	float: left;
	margin: -7px 0 0 25px;
	background-size: contain;
}
#toolbar .notif-icon {
	background-image: url(../img/notif.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 48px;
    display: inline-block;
    padding: 12px 2px 0 10px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 3px 0 -3px;
}
#toolbar .notif-icon span {
	font-size: 22px;
	background-color: #fff;
}
#toolbar .search-field {
	margin-left: 48px;
}
#toolbar .profile-btn {
	display: inline-block;
    overflow: hidden;
}
#toolbar .avatar-icon {
	width: 45px;
	height: 45px;
	display: inline-block;
    overflow: hidden;
    margin: -10px 0 0 10px;
}

/**
 * Profile and Sign in form
 */
#profile-form, #signin-form, #shopping-profile{
	max-width: 480px;
	margin: 0 auto;
	color: #666
}
#profile-form {
	max-width: 850px;
}
#profile-form h2, #signin-form h2, #shopping-profile h2{
	text-align: center;
	margin: 25px 0 25px 5px;
}
#profile-form button, #signin-form button {
	margin: 20px 0 0;
	width: 200px;
}
#signin-form {
	margin-top: 50px;
}
.picker .picker-item {
	width: 50px;
	height: 50px;
}
.picker-popover.popover {
	width: 392px;
}
.picker-search {
	display: none;
}
.avatar-icon {
	width: 55px;
    height: 55px;
    background-size: contain;
    margin: -8px;
    cursor: pointer;
}
.avatar-icon-1 {
	background-image: url(../img/ava_1.png);
}
.avatar-icon-2 {
	background-image: url(../img/ava_2.png);
}
.avatar-icon-3 {
	background-image: url(../img/ava_3.png);
}
.avatar-icon-4 {
	background-image: url(../img/ava_4.png);
}
.avatar-icon-5 {
	background-image: url(../img/ava_5.png);
}
.avatar-icon-6 {
	background-image: url(../img/ava_6.png);
}
.avatar-icon-7 {
	background-image: url(../img/ava_7.png);
}
.avatar-icon-8 {
	background-image: url(../img/ava_8.png);
}
.avatar-icon-9 {
	background-image: url(../img/ava_9.png);
}
.avatar-icon-10 {
	background-image: url(../img/ava_10.png);
}
.avatar-icon-11 {
	background-image: url(../img/ava_11.png);
}
.avatar-icon-12 {
	background-image: url(../img/ava_12.png);
}
#avatar-image {
	width: 90px;
	height: 92px;
	border: 1px solid #ccc;
	position: absolute;
	background-color: #fff;
}
#avatar-image .avatar-icon {
	margin: 0;
	width: 90px;
	height: 90px;
}
#avatar-input {
	width: 0;
	height: 0;
	position: absolute;
}

/**
 * Tooltips override
 */
.tooltip-inner {
	background-color: #a838f6;
	padding: 20px 30px;
	opacity: 1;
	white-space: nowrap;
	border-radius: 7px;
	font-size: 20px;
	max-width: 240px;
}

/**
 * Notifications tip
 */
.notif-tooltip .tooltip-inner {
	display: none;
}
.notif-tooltip {
	opacity: 1 !important;
	background-color: #fff;
	padding: 10px 10px;
	border-radius: 7px;
	min-width: 200px;
}
.notif-tooltip ul {
	margin: 15px 0 15px 0;
	padding: 0 20px 0 20px;
	list-style: none;
}
.notif-tooltip li {
	margin: 0 0 -10px 0;
	position: relative;
    border-left: 1px solid #c8c7cc;
}
.notif-tooltip li:after {
	background-color: #fff;
    border-color: #007AFF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    content: "";
    height: 9px;
    left: 0;
    margin-left: -5px;
    position: absolute;
    width: 9px;
    clear: both;
    bottom: auto;
    top: 4px;
}
.notif-tooltip li.success {
	border-left-color: #5cb85c;
}
.notif-tooltip li.success:after {
	border-color: #5cb85c;
}
.notif-tooltip li > div {
	margin: 0 0 0 15px;
}
.notif-tooltip .time-text {
	font-size: 12px !important;
    color: #5b5b60;
}
.notif-tooltip p {
	padding: 0px 0 10px 0;
	font-size: 13px;
	color: #000;
}


/**
 * Graph popup
 */
.graph-popup {
	padding: 10px;
	font-size: 12px;
}
.graph-popup .title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.graph-popup p {
	text-align: center;
	padding: 10px;
	max-width: 200px;
	white-space: normal;
}