.container {
	min-width: 960px !important;
}

/** 
 * Landing page
 */
#landing-page .logo {
	background: url(../img/big_logo.png) no-repeat;
	width: 400px;
    height: 400px;
    background-position: 50% 50%;
    margin: 90px auto 0;
}
#landing-page h1 {
	text-align: center;
	margin: -30px;
}
/**
 * Sign Up page
 */
#sign-up {
	margin-top: -30px;
}

/**
 * Main page
 */
#figure-container {
	text-align: center;
	height: 605px;
	background-color: #000;
}
#chat-container, #email-container {
	border: 1px solid #ccc;
	height: 200px;
	text-align: center;
	font-size: 18px;
	color: #888;
	/*font-style: italic;*/
	padding: 80px 0 0 0;
	border-radius: 3px 0 0 3px;
	margin: 20px 0 0 0;
}
#email-container {
	border-radius: 0 3px 3px 0;
}
 #mynetwork {
  	width: 600px;
	height: 400px;
	position: relative;
	height: 565px;
	margin: 20px auto;
	display: none;
}

/**
 * Toolbar
 */
#toolbar {
	text-align: right;
	margin: 20px 0 0 0;
}
#toolbar .iv-icon {
	background-image: url(../img/iv_logo.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin-top: -7px;
}
#toolbar .hexagon-icon {
	background-image: url(../img/hexagon-128.jpg);
	background-repeat: no-repeat;
	width: 33px;
	height: 33px;
	display: block;
	float: left;
	margin: -4px 0 0 25px;
	background-size: contain;
}
#toolbar .notif-icon {
	background-image: url(../img/notif.png);
    background-repeat: no-repeat;
    background-size: 70%;
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 12px 14px 0 10px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 17px 0 0;
}
#toolbar .notif-icon span {
	font-size: 22px;
	background-color: #fff;
}
#toolbar .search-field {
	display: inline;
	margin-left: 48px;
}
#toolbar .profile-btn {
	display: inline-block;
    overflow: hidden;
}

/**
 * Profile and Sign in form
 */
#profile-form, #signin-form, #shopping-profile{
	max-width: 480px;
	margin: 0 auto;
	color: #666
}
#profile-form {
	max-width: 850px;
}
#profile-form h2, #signin-form h2, #shopping-profile h2{
	text-align: center;
	margin: 25px 0 25px 5px;
}
#profile-form button, #signin-form button {
	margin: 20px 0 0;
	width: 200px;
}
#signin-form {
	margin-top: 50px;
}
.picker .picker-item {
	width: 50px;
	height: 50px;
}
.picker-popover.popover {
	width: 392px;
}
.picker-search {
	display: none;
}
.avatar-icon {
	width: 55px;
    height: 55px;
    background-size: contain;
    margin: -8px;
}
.avatar-icon-1 {
	background-image: url(../img/ava_1.png);
}
.avatar-icon-2 {
	background-image: url(../img/ava_2.png);
}
.avatar-icon-3 {
	background-image: url(../img/ava_3.png);
}
.avatar-icon-4 {
	background-image: url(../img/ava_4.png);
}
.avatar-icon-5 {
	background-image: url(../img/ava_5.png);
}
.avatar-icon-6 {
	background-image: url(../img/ava_6.png);
}
.avatar-icon-7 {
	background-image: url(../img/ava_7.png);
}
.avatar-icon-8 {
	background-image: url(../img/ava_8.png);
}
.avatar-icon-9 {
	background-image: url(../img/ava_9.png);
}
.avatar-icon-10 {
	background-image: url(../img/ava_10.png);
}
.avatar-icon-11 {
	background-image: url(../img/ava_11.png);
}
.avatar-icon-12 {
	background-image: url(../img/ava_12.png);
}
#avatar-image {
	width: 90px;
	height: 92px;
	border: 1px solid #ccc;
	position: absolute;
	background-color: #fff;
}
#avatar-image .avatar-icon {
	margin: 0;
	width: 90px;
	height: 90px;
}
#avatar-input {
	width: 0;
	height: 0;
	position: absolute;
}