body.main, body.public {
	background-color: #061535;
}
.container {
	min-width: 960px !important;
	position: relative;
}
#figure-bg {
	background-image: url(../img/network1_2.jpg);
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	height: 620px;
	position: absolute;
	left:0;
}

/**** Public page ***/

.public h1 {
	color: #fff;
}
.public .photo {
	margin: 2px 10px 0 0;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	float: left;
}

/** 
 * Landing page
 */
#landing-page .logo {
	background: url(../img/big_logo.png) no-repeat;
	width: 400px;
    height: 400px;
    background-position: 50% 50%;
    margin: 90px auto 0;
}
#landing-page h1 {
	text-align: center;
	margin: -30px;
}
/**
 * Sign Up page
 */
#sign-up {
	margin-top: -30px;
}

/**
 * Main page
 */
#figure-container {
	text-align: center;
	height: 605px;
	position: relative;
}
#figure-legend {
	position: absolute;
    top: 150px;
    right: 0px;
}
#figure-legend ul {
	list-style: none;
    position: absolute;
    width: 270px;
    right: 0;
    padding: 0;
}
#figure-legend li {
	cursor: pointer;
    font-weight: bold;
    color: white;
    text-align: left;
    float: left;
    width: 135px;
    margin-bottom: -4px;
}
#figure-legend li .icon {
	height: 30px;
	vertical-align: middle;
	margin: 10px;
	display: inline-block;
	position: relative;
    width: 73px;
    border-width: 30px 18px 0;
    border-style: solid;
    transform: scale(0.6);
    margin-right: -9px;
    margin-top: 16px;
    margin-left: -17px;
}
#figure-legend li .icon .icon-top {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -60px;
    left: -18px;
    border-width: 0 37px 30px;
    border-style: solid;
}
#chat-container, #email-container {
	border: 1px solid #ccc;
	height: 200px;
	text-align: center;
	font-size: 18px;
	color: #888;
	/*font-style: italic;*/
	padding: 0;
	border-radius: 3px 0 0 3px;
	margin: 20px 0 0 0;
	border-width: 1px 0px 1px 1px;
	overflow-y: scroll;
}
#email-container {
	border-radius: 0 3px 3px 0;
	padding: 0 0 0 10px;
	border-width: 0px 1px 0px 0;
}
#email-container > div {
	background-image: url(../img/email_bg.png);
	background-size: cover;
	width: 100%;
	height: 100%;
}
#chat-container > div {
	background-image: url(../img/chat_bg.png);
	background-size: 100% 100%;
	height: 600px;ß
}
 #mynetwork {
  	width: 600px;
	/*height: 400px;*/
	position: relative;
	height: 565px;
	margin: 20px auto;
	display: none;
}
#mynetwork .back-btn {
    position: absolute;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    top: 150px;
    right: -150px;
    text-decoration: underline;
    display: none;
}
.public #mynetwork .back-btn {
	display: block;
}

/**
 * Toolbar
 */
#toolbar-wrap {
	background-color: #fff;
}
#toolbar {
	text-align: right;
	padding: 20px 0 0 0;
}
#toolbar .iv-icon {
	background-image: url(../img/iv_logo.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin-top: -7px;
}
#toolbar .hexagon-icon {
	background-image: url(../img/hexagon-128.jpg);
	background-repeat: no-repeat;
	width: 44px;
	height: 44px;
	display: block;
	float: left;
	margin: -7px 0 0 25px;
	background-size: contain;
}
#toolbar .notif-icon {
	background-image: url(../img/notif.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 48px;
    display: inline-block;
    padding: 12px 2px 0 10px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 3px 0 -3px;
}
#toolbar .notif-icon span {
	font-size: 22px;
	background-color: #fff;
}
#toolbar .search-field {
	margin-left: 48px;
}
#toolbar .profile-btn {
	display: inline-block;
    overflow: hidden;
}
#toolbar .avatar-icon {
	width: 45px;
	height: 45px;
	display: inline-block;
    overflow: hidden;
    margin: -10px 0 0 10px;
}

/**
 * Profile and Sign in form
 */
#account-form, #signin-form, .profile-page {
	max-width: 480px;
	margin: 0 auto;
	color: #666
}
#account-form {
	max-width: 850px;
}
#account-form h2, #signin-form h2, .profile-page h2{
	text-align: center;
	margin: 25px 0 25px 40px;
}
#account-form button[type="submit"], #signin-form button[type="submit"] {
	margin: 20px 0 0;
	width: 200px;
}
#signin-form {
	margin-top: 50px;
}
.picker .picker-item {
	width: 50px;
	height: 50px;
}
.picker-popover.popover {
	width: 392px;
}
.picker-search {
	display: none;
}
.avatar-icon {
	width: 55px;
    height: 55px;
    background-size: contain;
    margin: -8px;
    cursor: pointer;
}
.avatar-icon-1 {
	background-image: url(../img/ava_1.png);
}
.avatar-icon-2 {
	background-image: url(../img/ava_2.png);
}
.avatar-icon-3 {
	background-image: url(../img/ava_3.png);
}
.avatar-icon-4 {
	background-image: url(../img/ava_4.png);
}
.avatar-icon-5 {
	background-image: url(../img/ava_5.png);
}
.avatar-icon-6 {
	background-image: url(../img/ava_6.png);
}
.avatar-icon-7 {
	background-image: url(../img/ava_7.png);
}
.avatar-icon-8 {
	background-image: url(../img/ava_8.png);
}
.avatar-icon-9 {
	background-image: url(../img/ava_9.png);
}
.avatar-icon-10 {
	background-image: url(../img/ava_10.png);
}
.avatar-icon-11 {
	background-image: url(../img/ava_11.png);
}
.avatar-icon-12 {
	background-image: url(../img/ava_12.png);
}
#avatar-image {
	width: 90px;
	height: 92px;
	border: 1px solid #ccc;
	position: absolute;
	background-color: #fff;
}
#avatar-image .avatar-icon {
	margin: 0;
	width: 90px;
	height: 90px;
}
#avatar-input {
	width: 0;
	height: 0;
	position: absolute;
}
.public-url-href {
	font-size: 16px;
    line-height: 33px;
    cursor: pointer;
}

/**
 * Tooltips override
 */
.tooltip-inner {
	background-color: #a838f6;
	padding: 20px 30px;
	opacity: 1;
	white-space: nowrap;
	border-radius: 7px;
	font-size: 20px;
	max-width: 240px;
}

/**
 * Notifications tip
 */
.notif-tooltip .tooltip-inner {
	display: none;
}
.notif-tooltip {
	opacity: 1 !important;
	background-color: #fff;
	padding: 10px 10px;
	border-radius: 7px;
	min-width: 200px;
}
.notif-tooltip ul {
	margin: 15px 0 15px 0;
	padding: 0 20px 0 20px;
	list-style: none;
}
.notif-tooltip li {
	margin: 0 0 -10px 0;
	position: relative;
    border-left: 1px solid #c8c7cc;
}
.notif-tooltip li:after {
	background-color: #fff;
    border-color: #007AFF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    content: "";
    height: 9px;
    left: 0;
    margin-left: -5px;
    position: absolute;
    width: 9px;
    clear: both;
    bottom: auto;
    top: 4px;
}
.notif-tooltip li.success {
	border-left-color: #5cb85c;
}
.notif-tooltip li.success:after {
	border-color: #5cb85c;
}
.notif-tooltip li > div {
	margin: 0 0 0 15px;
}
.notif-tooltip .time-text {
	font-size: 12px !important;
    color: #5b5b60;
}
.notif-tooltip p {
	padding: 0px 0 10px 0;
	font-size: 13px;
	color: #000;
}


/**
 * Graph popup
 */
.graph-popup {
	padding: 10px;
	font-size: 12px;
}
.graph-popup .title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.graph-popup p {
	text-align: center;
	padding: 10px;
	max-width: 200px;
	white-space: normal;
}

/*** Photo upload **/

.photo-upload-frame {
	border: 1px solid #ccc;
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;
	text-align: center;
	padding-top: 46px;
	font-size: 12px;
	font-style: italic;
	cursor: pointer;
}
.photo-upload-file-input {
	display: none !important;
}

/******* Connections ********/
.connections-wrap {
	margin: 38px 0 0;
	font-size: 16px;
	position: relative;
}
.connections-window {
	display: none;
	position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    top: -12px;
    min-width: 440px;
    z-index: 12344;
}
.connections-window ul {
	list-style: none;
    margin: 31px 0px;
    padding: 0;
    max-height: 500px;
    display: block;
    overflow-y: scroll;
}
.connections-window li {
	cursor: pointer;
	padding: 0 0 0 50px;
}
.connections-window li.connected {
	background-image: url(/img/check_icon.png);
	background-repeat: no-repeat;
	background-position: 0 43%;
}
.connections-img {
	width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 11px 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.connections-close {
	position: absolute;
	top: 2px;
	right: 2px;
}
.connections-window .empty-msg {
	text-align: center;
	font-size: 12px;
	font-style: italic;
}

/***** Ptofile page ********/
.profile-basic-info {
	padding: 36px;
}
.profile-basic-info .connections-wrap {
	margin: 38px 0 0;
}