<div id="figure-container"></div>
<div id="mynetwork"></div>
<div class="row">
<div id="chat-container" class="col-xs-6">chat</div>
<div id="email-container" class="col-xs-6"><div></div></div>
</div>

<!-- Cube -->

<script src="js/vendor/threejs/build/three.js"></script>
<script src="js/vendor/threex.dynamictexture/threex.dynamictexture.js"></script>
<script src="js/vendor/vis/dist/vis.min.js"></script>
<script src="js/OrbitControls.js"></script>
<script type="text/javascript">
	userAvatar = {{{user.avatar}}};
</script>
<script src="js/main.js"></script>