<div id="figure-bg"></div>
<div id="figure-container">
	<div id="figure-legend">
		{{#if user.profiles}}
			<ul>
			{{#each user.profiles }}
				<li data-type="{{this.type}}">
					<div class="icon" style="border-color: {{this.color}} transparent;">
						<div class="icon-top" style="border-color: transparent transparent {{this.color}};"></div>
					</div>
					<a href="#">{{this.title}}</a>
				</li>
			{{/each}}
			</ul>
		{{/if}}
	</div>
</div>
<div id="mynetwork"></div>
<div class="row">
<div id="chat-container" class="col-xs-6"><div></div></div>
<div id="email-container" class="col-xs-6"><div></div></div>
</div>

<script type="text/javascript">
	window.user = {
		id: "{{user._id}}",
		firstName: "{{{user.firstName}}}",
		lastName: "{{{user.lastName}}}",
		avatar: "{{{user.avatar}}}",
		profiles: {{{json user.profiles }}},
	};
</script>

<script data-main="js/figure_main" src="js/require.js"></script>