<div class="tbar">
	<a href="/"><div class="iv-icon"></div></a>
	<a id="visit-link" href="/">Visit i-v.life to learn more</a>
</div>

<div class="person-info">
	<div class="photo" style="background-image: url({{user.profiles.professional.photo}})"></div>
	<h1>{{user.firstName}} {{user.lastName}}</h1>
</div>
<div id="figure-bg"></div>
<div id="figure-container">
	<div id="figure-legend"></div>
</div>
<div id="mynetwork"></div>

<script type="text/javascript">
	window.user = {
		id: "{{user._id}}",
		firstName: "{{{user.firstName}}}",
		lastName: "{{{user.lastName}}}",
		avatar: "{{{user.avatar}}}",
		profiles: {{{json user.profiles }}},
	};
</script>

<script data-main="/js/figure_main" src="/js/require.js"></script>