{{> toolbar }}

<div id="shopping-profile" class="container">
<div class="row">

<h2>Edit your shopping profile</h2>

<form id="profile-form" class="form-horizontal" action="shopping_profile" method="post">

	<h4>What are your sizes?</h4>
	<h5>Clothes</h5>
	<div class="form-group">
		<label class="col-sm-4 control-label">Dress</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">XL
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">XS
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Pants</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">XL
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">XS
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Swimwear</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">XL
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">XS
				</label>
			</div>
		</div>
	</div>

	<h5>Lingerie</h5>
	<div class="form-group">
		<label class="col-sm-4 control-label">Bra</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>32
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">34
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">36
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">38
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Panties</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">XL
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">XS
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Sleepwear</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">XL
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">XS
				</label>
			</div>
		</div>
	</div>

	<h5>Accessories</h5>

	<div class="form-group">
		<label for="profileInputGlasses" class="col-sm-4 control-label">Glasses</label>
		<div class="col-sm-8">
			<input type="number" class="form-control" name="age" id="profileInputGlasses" placeholder="Glasses" value="{{user.glasses}}">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Belts</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label">Hats</label>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>S
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">M
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">L
				</label>
			</div>
		</div>
	</div>


	<h5>Footwear Size</h5>

	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-info active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked>5
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option2" autocomplete="off">6
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option3" autocomplete="off">6.5
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option4" autocomplete="off">7.5
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">8
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">8.5
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">9
				</label>
				<label class="btn btn-info">
					<input type="radio" name="options" id="option5" autocomplete="off">10
				</label>
			</div>
		</div>
	</div>

	<h4>What is your body shape type?</h4>
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<select name="bodyShapeType" class="form-control" id="profileInputBodyShapeType" value="{{user.bodyShapeType}}">
				<option value="1" {{#ifCond user.gender "==" 1}}selected{{/ifCond}}>Normal Figure</option>
				<option value="2" {{#ifCond user.gender "==" 2}}selected{{/ifCond}}>Broad At Top</option>
				<option value="2" {{#ifCond user.gender "==" 3}}selected{{/ifCond}}>Broad At Bottom</option>
				<option value="2" {{#ifCond user.gender "==" 4}}selected{{/ifCond}}>Hourglass Curvy</option>
				<option value="2" {{#ifCond user.gender "==" 5}}selected{{/ifCond}}>Oval Overall</option>
				<option value="2" {{#ifCond user.gender "==" 6}}selected{{/ifCond}}>Narrow And Straight</option>
				<option value="2" {{#ifCond user.gender "==" 7}}selected{{/ifCond}}>Broad And Straight</option>
				<option value="2" {{#ifCond user.gender "==" 8}}selected{{/ifCond}}>A typical</option>
			</select>
		</div>
	</div>

	<h4>What is your style?</h4>
	<div class="form-group">
		<div class="col-sm-4"></div>
		<div class="col-sm-8">
			<select name="style" class="form-control" id="profileInputStyle" value="{{user.style}}">
				<option value="1" {{#ifCond user.gender "==" 1}}selected{{/ifCond}}>Modern</option>
				<option value="2" {{#ifCond user.gender "==" 2}}selected{{/ifCond}}>Classic</option>
				<option value="2" {{#ifCond user.gender "==" 3}}selected{{/ifCond}}>Hippy</option>
				<option value="2" {{#ifCond user.gender "==" 4}}selected{{/ifCond}}>Professional</option>
			</select>
		</div>
	</div>


  <div class="form-group">
	<div class="col-sm-offset-4 col-sm-6">
		<button type="submit" class="btn btn-success">Save changes</button>
	</div>
  </div>

</form>


</div>
</div>