<div id="sign-in" class="container">
<div class="row">

<form id="signin-form" class="form-horizontal" action="sign_in" method="post">
  <div class="form-group">
  <label for="profileInputEmail" class="col-sm-3 control-label">Email</label>
  <div class="col-sm-9">
    <input type="email" class="form-control" name="email" id="profileInputEmail" placeholder="Email">
  </div>
  </div>

  <div class="form-group">
  <label for="profileInputPass" class="col-sm-3 control-label">Password</label>
  <div class="col-sm-9">
    <input type="password" class="form-control" name="pass" id="profileInputPass" placeholder="Password">
  </div>
  </div>

  <div class="form-group">
  <div class="col-sm-offset-4 col-sm-6">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
  </div>

</form>

</div>
</div>